* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator-container {
  width: 200px;
  margin: 80px auto;
}

.calculator-display {
  padding: 13px 18px;
  font-size: 1.2rem;
  text-align: right;
  border: 2px solid #000;
  border-bottom: 1px solid #000;
}

.calculator-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 250px;
  border: 1px solid #000;
  border-top: none;
}

button {
  border: 1px solid #000;
}

.tall {
  grid-row: 4 / 6;
  grid-column: -2 / -1;
}

.wide {
  grid-column: 1 / 3;
}
